.ct {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ic {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.ic-active {
  composes: ic;
  background: green;
}

.ic-inactive {
  composes: ic;
  background: red;
}